{% extends "base.html" %}

{% block title %}Foodblog | Login{% endblock %}
{% block content %}
    <div class="d-flex flex-column  justify-content-center align-items-center vw-100 vh-100 ">                
        <div class="w-w-25  ">
            <div class="mb-3 text-center display-1 ">
                <i class="bi bi-house"></i>
            </div>
            <form action="{% url "index" %}" method="POST">
                {% csrf_token %}
                <div class="input-group mb-3">
                    <span class="input-group-text" id="txtUsername"><i class="bi bi-person"></i></span>
                    <input type="text" class="form-control" id="txtUsername" name="nickname" placeholder="username" aria-describedby="txtUsername" required>                
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="txtPassword"><i class="bi bi-lock"></i></span>
                    <input type="password" class="form-control" id="txtPassword" name="password" placeholder="password" aria-describedby="txtPassword" required>                
                </div>            
                <div class="mb-3">
                    <input type="submit" value="login" class="btn btn-primary w-100" />
                </div>
            </form>
        </div>      
        {% comment %} Mostrar mensaje de alert al usuario {% endcomment %}
        {% for message in messages %}      
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                {% include "partials/alert.html" with type="danger" head="Error:" body=message %}                
            {% else %}
                {% include "partials/alert.html" with type="success" head="Info:" body=message %}                
            {% endif %}                
        {% endfor %}          
    </div>
{% endblock %}